.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.default {
    max-width: var(--container-max-width);
}

.narrow {
    max-width: 900px;
}

.wide {
    max-width: 1440px;
}